.formContainer {
  width: 350px;
  height: 70%;
  top: 12.5%;
  left: 37.5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  filter: contrast(125%);
  border-radius: 10px;
  background-color: #ffffff10;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  overflow: hidden;
  cursor: pointer;
  padding: 20px;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
  height: 475px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  height: 300px;
}

.Form label {
  color: #e4e4e4;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
}

.Form input[type="text"] {
  margin-top: 10px;
  display: block;
  padding: 5px;
  border: 2px solid white;
  border-radius: 4px;
  width: 125px;
  background-color: white;
}

.selected-temperaments {
  width: 300px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
}

.selected-temperaments li {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 10px;
  background-color: #262626;
}

.selected-temperaments li button {
  margin-left: 5px;
  padding: 2px 5px;
  background-color: #262626;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Form button[type="submit"] {
  display: block;
  padding: 10px;
  background-color: rgb(10, 10, 10);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputWrapper {
  flex-basis: 45%;
}

.inputWrapper label {
  display: block;
  margin-bottom: 5px;
}

.inputWrapper input {
  width: 100px;
}

.errors {
  color: red;
  font-size: 10px;
}

.errorsContainer {
  position: absolute;
}

.inputName {
  margin-top: 10px;
  display: block;
  width: 285px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Form select {
  display: block;
  padding: 5px;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 10px;
}
