.containerPaginate {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #e4e4e4;
  font-size: 14px;
  width: 300px;
  height: 20px;
  background: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffff10;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  font-weight: 600;
  padding: 5px;

  /* top: -2.5%; */
}

.pageControl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e4e4e4;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
  padding: 5px;
}

.pageControlNumber {
  position: relative;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4e4e4;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  padding: 5px;
  height: 15px;
}
